.CollapseableFAQ {
    margin: 1rem auto;
    width: 100%;
}

.CollapseableFAQ button {
    width: 100%;
    background-color: #212a33;
    background-image: linear-gradient(147deg, #212a33 0%, #000000 44%);
    color: #79d70f;
}

.CollapseableFAQCard {
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    color: blanchedalmond;
}

.CollapseableFAQCard a {
    color: blanchedalmond;
    font-weight: 900;
    filter: drop-shadow(1px 1px 2px #000);
}